<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>운동 정보</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Poor+Story&display=swap" rel="stylesheet">
    <style>
        .healthInfo > span { display: block; font-size: 18px; padding-bottom: 10px; }
        #placeBtn { height: 36.4px; padding: 0 2.14rem; }
        #mapDiv { padding: 0; }
        #description_link { position: absolute; top: 80%; right: 10%; }
        .w-83 { width: 80%; }
    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let allCount = /*[[${count}]]*/ 'default';
        let pagingNum = /*[[${page}]]*/ 'default';
        let pagingCount = Math.ceil(allCount / 9);

        let list = /*[[${list}]]*/ 'default';
        let view = /*[[${view}]]*/ 'default';
        let exercise;
        let calcCalorie;

        // ------------ Info ----------

        /*]]>*/
    </script>

    <script>
        function calorieCalculator(weight, hour){
            calcCalorie = weight * hour * list[exercise].calorie;
            $('#calorie').val(calcCalorie);
        }

        function infoChange(info) {
            deleteCalorieData();
            exercise = info.getAttribute('index');
            $('#exerciseName').text('칼로리 계산하기 - ' + list[exercise].name);
            $('#videoDiv').attr('data', list[exercise].videoLink);
            $('#effect > .card-body > .card-text').text(list[exercise].effect);
            $('#effectExerciseName').text(list[exercise].name);
        }

        function deleteCalorieData(){
            $('#weight').val('');
            $('#time').val('');
            $('#calorie').val('');
        }

        function selectedOption(){
            if(view === 'abc') $('#abc').attr('selected', 'selected');
            else if(view === 'calorieAsc') $('#calorieAsc').attr('selected', 'selected');
            else $('#calorieDesc').attr('selected', 'selected');
        }

        function listSearch(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#list li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        }

        function init() {
            selectedOption();
            listSearch();
        }

        function findDescription(keyword) {
            $.ajax({
                url: `/exercise_description?keyword=${keyword}`,
                type: "POST",
                cache: false,
                dataType: "json",
                data: "",
                success: function (data) {
                    for(var i = 0; i<data.items.length; i++){
                        if(data.items[i].title.includes("위키백과")){
                            console.log(data.items[i].snippet);
                            $('#description > p').text(data.items[i].snippet);
                            $('#description_link').attr('href', data.items[i].link);
                            break;
                        }
                    }
                },
                error: function (request, status, error) {
                    var msg = "ERROR : " + request.status + "<br>";
                    msg += "내용 : " + request.responseText + "<br>" + error;
                    console.log(msg);
                }
            });
        }

        $(function (){
            init();
        })

        //내가 직접 운동 추가하고, 칼로리 검색하고 검색창까지 만들기
        //문의 게시판, 공지사항 만들기
        //정확한 자세가 나오게끔(운동법) 운동의 설명 추가(장단점)
        //보충제 추가할 수 있게끔
    </script>

</head>
<body>
<div class="container h-100 mb-4 h-auto" layout:fragment="content_body">
    <div class="text-center">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-4">
            <input class="form-control form-control-sm mr-3 w-25" type="text" placeholder=""
                   aria-label="Search" id="search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>
    </div>

    <div class="row mt-4" style="height: auto">
        <div class="col-sm-11 col-md-11 col-lg-11 mx-auto">
            <div class="col-sm-6 col-md-6 col-lg-6 border h-100 float-left p-0">
                <div class="card text-center shadow-none">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#calcCalorie" role="tab"
                                   aria-controls="calcCalorie" aria-selected="true">칼로리 계산</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ml-2" id="pills-effect-tab" data-toggle="pill" href="#effect" role="tab"
                                   aria-controls="pills-effect-tab" aria-selected="true">효과</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="calcCalorie" role="tabpanel" aria-labelledby="pills-home-tab" style="max-height: 221px;">
                            <div class="card-body" style="margin-bottom: 2.5rem !important;">
                                <h5 id="exerciseName" class="card-title">칼로리 계산하기</h5>
                                <p class="card-text">몸무게 및 운동한 시간을 적고, 칼로리를 계산하세요!</p>
                                <div class="form-group">
                                    <label for="weight" class="col-form-label float-left">몸무게 (kg) : &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                    <input type="text" class="form-control w-25" id="weight">
                                </div>
                                <div class="form-group">
                                    <label for="time" class="col-form-label float-left">운동시간 (hour) :&nbsp;</label>
                                    <input type="text" class="form-control w-25" id="time">
                                </div>
                                <div class="form-group">
                                    <label for="calorie" class="col-form-label d-block float-left">총 칼로리 (kcal) :&nbsp;</label>
                                    <input type="text" class="form-control w-25 d-inline-block float-left" id="calorie" readonly>
                                    <button type="button" class="btn btn-sm btn-dark float-right" onclick="calorieCalculator(weight.value, time.value)">계산하기</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="effect" role="tabpanel" aria-labelledby="pills-effect-tab" style="min-height: 245px;">
                            <div class="card-body" style="margin-bottom: 2.5rem !important; padding-top: 5rem !important;">
                                <h5 class="card-title"><span id="effectExerciseName"></span> 운동 효과</h5>
                                <p class="card-text">궁금한 운동의 상세보기를 클릭해보세요!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 border h-100 float-right p-0">
                <object type="text/html" id="videoDiv" class="w-100 h-100" src="" frameborder="0"></object>
            </div>
        </div>

        <div class="col-sm-11 col-md-11 col-lg-11 mx-auto mb-3 mt-3">
            <select id="listOption" class="browser-default custom-select w-auto" onchange="if(this.value) location.href=(this.value)">
                <option id="abc" value="/exercise?view=abc">가나다순으로 보기</option>
                <option id="calorieDesc" value="/exercise?view=calorieDesc">칼로리 소비 높은순으로 보기</option>
                <option id="calorieAsc" value="/exercise?view=calorieAsc">칼로리 소비 낮은순으로 보기</option>
            </select>
            <button type="button" class="btn btn-sm btn-outline-default btn-rounded waves-effect w-auto float-right" data-target="#insertExercise" data-toggle="modal" style="border-radius: 10rem;">운동 추가하기</button>
        </div>

        <div class="col-sm-11 col-md-11 col-lg-11 mx-auto">
            <ul class="list-group" id="list">
                <li class="list-group-item" th:each="element, iterStat : ${list}">
                    <img class="mr-3" th:src="@{'/images/exercise/' + ${element.name} + '.jpg'}" style="width: 37px; height: 37px;" onerror="this.src='/images/exercise/운동.jpg'">
                    <span style="line-height: 43px;" th:text="${element.name} + ' - ' + ${element.calorie} + 'kcal'"></span>
                    <a type="button" th:data-id="${element.name}" th:index="${iterStat.index}" onclick="infoChange(this)" class="btn btn-sm btn-primary float-right" href="#">상세보기</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="insertExercise" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">운동 추가하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="w-100" name="addExercise" action="/exerciseAdd" method="post">
                        <div class="form-group">
                            <label for="exercise" class="col-form-label">운동 이름 : &nbsp; </label>
                            <input name="name" id="exercise" type="text" class="form-control w-83 d-inline-block float-right">
                        </div>

                        <div class="form-group">
                            <label for="addEffect" class="col-form-label">효과 : &nbsp; </label>
                            <input name="effect" id="addEffect" type="text" class="form-control w-83 d-inline-block float-right">
                        </div>

                        <div class="form-group">
                            <label for="addWeight" class="col-form-label">몸무게(kg) : &nbsp;</label>
                            <input name="exerciseWeight" id="addWeight" type="text" class="form-control w-83 d-inline-block float-right">
                        </div>
                        <div class="form-group">
                            <label for="addCalorie" class="col-form-label">시간당 소모 칼로리 (kcal) : </label>
                            <input name="calorie" id="addCalorie" type="text" class="form-control d-inline-block float-right" style="width: 62%;">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-dark" onclick="addExercise.submit()">추가하기</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>