<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://kit.fontawesome.com/d973d9e148.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container" layout:fragment="content_body">
    <div class="row mt-4" style="height: 100%">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="height: 100%">
            <div class="card card-signin my-2">
                <div class="card-body">
                    <h5 class="card-title text-center">로그인</h5>
                    <form class="form-signin" method="post" action="/login">
                        <div class="form-label-group">
                            <input type="email" name="username" id="username" class="form-control" placeholder="Email address" required autofocus>
                            <label for="username">이메일 주소</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                            <label for="password">비밀번호</label>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">로그인</button>
                        <a class="btn btn-lg btn-success btn-block text-uppercase" href="/join">회원가입</a>
                        <hr class="my-4">
                        <a class="btn btn-lg btn-google btn-block text-uppercase" href="/oauth2/authorization/google"><i class="fab fa-google mr-2"></i>Google로 로그인 하기</a>
                        <a class="btn btn-lg btn-naver btn-block text-uppercase" href="/oauth2/authorization/naver" role="button">
                            <img class="fab mr-2" src="/images/naverIcon.png" width="20px">Naver로 로그인 하기
                        </a>
                        <!--                        <a class="btn btn-lg btn-kakao btn-block text-uppercase" href="/oauth2/authorization/kakao">-->
<!--                            <img class="fab mr-2" src="/images/kakaoIcon.png" width="20px">Kakao로 로그인 하기-->
<!--                        </a>-->
                        <a class="btn btn-lg btn-kakao btn-block text-uppercase" href="https://kauth.kakao.com/oauth/authorize?client_id=2c1e6cc30a132b4647e201a908fa932c&redirect_uri=http://127.0.0.1:8080/login/oauth2/code/kakao
&response_type=code">
                            <img class="fab mr-2" src="/images/kakaoIcon.png" width="20px">Kakao로 로그인 하기
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>